packages/*/build
bin/python-wasm
bin/python-wasm-debug
bin/zig-fPIC
bin/zig
bin/node
bin/npm
bin/npx
**/dist
**/build
**/node_modules
*.term
.*.term.*
*.wasm
*.wat
*.pyc
*.o
zig-cache
tsconfig.tsbuildinfo
.hypothesis
