packages/*/build
bin/lua-native
bin/viz-native
bin/zig
bin/node
bin/npm
bin/npx
bin/dash-native
bin/dash-wasm*
bin/python-native
bin/zd
bin/zdb
bin/cython
bin/cowasm*
bin/*-wasm
bin/wasm-opt
bin-wasm/**
**/dist
**/build
**/node_modules
*.term
.*.term.*
*.wasm
*.wat
*.pyc
*.o
*.tsbuildinfo
zig-cache
.hypothesis
upstream/sources/*
scratch/*
logs/*
packages/bench/src/cython/*.c
